h1{
font-family: "times new roman";
text-align:center;
font-size:50px;
background:#006400;
}
h2{
font-size:25px;
text-align:center;
padding:20px;
}
div{
width:1200px;
display:block;
margin: 0 auto;
}
img{
float:left;
margin-right: 90px;
}
.sociologia{
height:190px
}
.socio{
float:initial;
display:block;
margin: 0 auto;
height:210px;
width:310px;
}
.joria{
height:220px;

}
p{
font-size:20px;
font-family:"times new roman";

}
dt{
font-size:20px;
}